/*
font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive;
*/

body {
    font-family: 'Yeseva One', cursive;
    font-size: 16px;
    color: #4c4c4c;
    background-color: bisque;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1250px;

    margin: 0 auto;
}

/* HEADER
---------------------------------------------------------
*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(rgba(0, 0, 0, .5), transparent);
    height: 115px;
}

.nav {
    display: flex;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 37px;
}

.header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 37px;
}

.nav__link {
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
    font-weight: bold;

    height: 100%;

    color: #ffffff;
    text-decoration: none;

    margin-right: 50px;
    padding-top: 43px;

    border-top: 3px solid transparent;
}

.nav__link:nth-child(6) {
    margin-right: 20px;
}

.nav__link:hover {
    border-color: #cbc8bf;
}

.header__icon {
    font-size: 21px;
    margin-right: 15px;
    text-decoration: none;
    padding-top: 34px;
}

/* TOP
---------------------------------------------------------
*/

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 750px;
    background: url("../img/header_bg.jpg") center no-repeat;
    background-size: cover;
    padding-top: 70px;
}

.top__inner {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.top__title {
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.922);
    text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
}

.top__title::after {
    content: url("../img/Decoration.png");
    margin-left: 20px;
}

.top__links {
    text-align: center;
    align-items: center;
}

.btn {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    vertical-align: top;

    font-size: 18px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 50px;
}

.btn--black {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.702);
    opacity: 0.8;
    margin-right: 15px;
}

.btn--black:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.btn--transparent {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.278);
    opacity: 0.7;
    margin-left: 15px;
}

.btn--transparent:hover {
    background-color: rgba(255, 255, 255, 0.478);
}

/* FOOD BLOCK
---------------------------------------------------------
*/

.food__block {
    display: flex;
    flex-direction: column;

    height: 710px;

    background: url("../img/food_bg.jpg") center no-repeat;
    background-size: cover;
}

.food__inner {
    width: 100%;
    max-width: 430px;

    height: 510px;
    max-height: 510px;

    /*margin : 110px 110px 100px 100px;
    */
    margin-left: 110px;
    margin-top: 100px;
}

.food__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: rgb(204, 153, 0);
    font-weight: normal;
    text-align: center;

}

.food__title:after {
    content: url("../img/Divider.png");
}

.food_text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;
    padding-top: 10px;
}

.cook__img {
    content: url("../img/cook.png");
    padding: 40px 140px;
}

/* INGREDIENTS BLOCK
---------------------------------------------------------
*/

.ingredients__block {
    display: flex;
    flex-direction: column;

    height: 758px;

    background: url("../img/ingredients_bg.jpg") center no-repeat;
    background-size: cover;
}

.ingredients__inner {
    width: 100%;
    max-width: 570px;

    height: 557px;
    max-height: 557px;

    position: relative;

    /*margin : 110px 110px 100px 100px;
    */
    margin: 100px 0px 40px auto;
    padding: 10px 70px;

    background: url("../img/ingredients_content_bg.png") center no-repeat;
    background-size: cover;
}

.ingredients__title {
    width: 100%;
    max-width: 400px;
    padding-top: 70px;
    margin: 0 auto;

    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: white;
    font-weight: normal;
    text-align: center;
}

.ingredients__title:after {
    content: url("../img/Divider_white.png");
}

.ingredients__text {
    padding: 10px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    text-align: center;
}

.ingredients__image {
    padding-top: 60px;
    margin: 0 auto;

}

/* MENU BLOCK
---------------------------------------------------------
*/


.menu {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    height: 994px;

    background: url("../img/menu_bg.jpg") center no-repeat;
    background-size: cover;
}

.container--menu {
    display: flex;
    flex-flow: column wrap;

    height: 994px;
    justify-content: flex-start;
}

.menu__inner{
    display: flex;
    flex-flow: row wrap;

    height: 994px;

}

.menu__column{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.menu__block {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: auto;

    width: 570px;
    padding: 100px 0 0 40px;
    text-align: center;
}

.menu__block[id="appetizers"] {
    margin-left: 40px;
}

.menu__block[id="salads"] {
    margin-left: 40px;
    padding-top: 55px;
}

.menu__block[id="starters"] {
    margin-left: 30px;
}

.menu__block[id="main"] {
    margin-left: 30px;
    padding-top: 55px;
}

.menu_title {
    display: flex;
    flex-direction: column;
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: rgb(204, 153, 0);
    font-weight: normal;
    text-align: center;

}

.menu_title:after {
    content: url("../img/Divider.png");
}

.menu__item {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.menu__item--special {
    border: 1px solid rgb(200, 159, 45);
}


.menu__box {
    margin: 0 22px;
    position: relative;
}

.menu__box--special {
    margin: 0 22px;
    position: relative;
}

.menu__box--special::before {
    display: flex;
    flex-direction: row-reverse;
    content: url("../img/special.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 22px;
}

.menu__item__title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    color: rgb(204, 153, 0);
    font-weight: normal;
    border-bottom: 1px solid #cc9900;
}

/* REVIEWS
---------------------------------------------------------
*/

.reviews__block {
    display: flex;
    flex-direction: column;
    height: 758px;

    background: url("../img/reviews_bg.jpg") center no-repeat;
    background-size: cover;
}

.reviews__inner {
    width: 100%;
    max-width: 770px;

    height: 557px;
    max-height: 557px;

    /*margin : 110px 110px 100px 100px;
    margin-top: 100px;
    */
    margin: 100px auto;


    padding: 10px 70px;

    background: url("../img/reviews_content_bg.png") center no-repeat;
    background-size: cover;
}

.reviews_content {
    font-family: 'Gentium Book Basic', serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
    color: rgb(221, 224, 223);
}

.reviews_author {
    padding-top: 40px;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: rgb(221, 224, 223);
}

/* BOOK
---------------------------------------------------------
*/

.book_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 710px;

    background: url("../img/book_bg.png") center;
    background-size: cover;
}

.book_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 0;
}

.book_img:nth-child(1) {
    margin-left: 40px;
}

.book_img:nth-child(2) {
    margin-left: 30px;

}

.book__form__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 450px;
    margin-left: 100px;
}

.food__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    width: 100%;
}

.form__item {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 200px;

    margin-top: 45px;
}


.form__label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #cc9900;
}

.form__input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: rgb(124, 124, 124);

    align-items: start;
    padding-left: 15px;
    max-height: 30px;
}

.form__item:nth-child(1),
.form__item:nth-child(3) {
    margin-right: 30px;
}

.form__item:nth-child(3),
.form__item:nth-child(4) {
    margin-top: 25px;
}

.date__modifier {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: rgb(124, 124, 124);

    align-items: start;
    padding-left: 15px;
    max-height: 30px;
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid #cc9900;
}

input[type="date"]:not(.has-value):before {
    content: attr(placeholder);
}

input[type="date"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: rgb(124, 124, 124);
    padding-left: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../img/calendar.jpg) center no-repeat;

    border-width: thin;
}

.form__button {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: top;

    font-size: 16px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    padding: 5px 62px;
    margin-top: 30px;

    background-color: rgba(200, 159, 45, 0.77);
    border: 1px solid rgb(200, 159, 45);
    transition: step-start;
}

.form__button:hover {
    background-color: rgba(200, 159, 45, 0.98);
}

.form__button:disabled {
    background-color: rgba(200, 159, 45, 0.45);
}

/* FOOTER
---------------------------------------------------------
*/

.footer{
    height: 320px;

    background: url("../img/footer_bg.jpg") center;
    background-size: cover;
}

.footer__inner{
    display: flex;
    justify-content: space-evenly;

    padding-top: 52px;
}

.footer__block{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    width: 371px;
    height: 218px;

    padding: 10px;
}

.block__title{
    display: flex;
    flex-direction: column;

    font-size: 21px;
    text-align: center;
    color: rgb(254, 254, 254);
}

.block__title:after{
    content: url("../img/divider_footer.png");
}

.block__content{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a0a0a0;
    line-height: 1.5;

    text-align: center;

}

.block__icons{
    display: flex;
    justify-content: center;
}



