/*
font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive;
*/

body {
    font-family: 'Yeseva One', cursive;
    font-size: 16px;
    color: #4c4c4c;
    background-color: bisque;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1250px;

    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* HEADER
---------------------------------------------------------
*/

.header__box {
    height: 110px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(255, 255, 255, 0));
}

.intro {
    height: 750px;
    background: url("../img/header_bg.jpg") center no-repeat;
    background-size: cover;
}

.intro .header {
    height: 110px;
    display: flex;

}

.header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}


.nav {
    display: flex;
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
}

.header__inner {
    margin-right: 20px;
    display: flex;
}

.logo__link {
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
    text-decoration: none;

    margin-top: 35px;
    font-size: 36.03px;
    color: #ECECEC;
}

.nav__link {
    color: #F8F6F4;
    text-decoration: none;
    transition: color 0.2s linear;
    margin-right: 50px;
    padding-top: 45px;
}

.nav__link:hover {
    border-top: 3px solid rgba(255, 255, 255, 0.7);
    padding-top: 42px;
}

.nav__link:nth-child(1){
    padding-left: 40px;
}


.header__icons {
    flex-wrap: nowrap;
    position: relative;
    margin-left: -40px;
    margin-top: 45px;
    font-size: 21px;

    text-decoration: none;
}

.header__icon {
    padding-left: 18px;
    color: rgb(218, 179, 62);
    transition: transform .1s linear;
}

.header__icon:hover {
    transform: scale(1.2);
}

.icon__style {
    padding-left: 18px;
    color: rgb(218, 179, 62);
    transition: transform .1s linear;
}


/* TOP
---------------------------------------------------------
*/

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 750px;
    background: url("../img/header_bg.jpg") center no-repeat;
    background-size: cover;
    padding-top: 70px;
}

.top__inner {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 125px;
}

.top__title {
    display: flex;
    flex-direction: column;

    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.922);
    text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
}

.top-title--last::after {
    content: url("../img/Decoration.png");
    margin-left: 20px;
}

.top__links {
    display: flex;
    flex-flow: row wrap;

    text-align: center;
    align-items: center;

    justify-content: center;

    margin: 0 100px;
}

.btn {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    vertical-align: top;

    font-size: 18px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 50px;
}

.btn--black {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.702);
    opacity: 0.8;
    margin-right: 15px;
}

.btn--black:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.btn--transparent {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.278);
    opacity: 0.7;
    margin-left: 15px;
}

.btn--transparent:hover {
    background-color: rgba(255, 255, 255, 0.478);
}

/* FOOD BLOCK
---------------------------------------------------------
*/

.food__block {
    width: 100%;
    display: flex;
    flex-direction: column;

    height: 710px;

    background: url("../img/food_bg.jpg") center no-repeat;
    background-size: cover;
}

.food__inner {

    width: 100%;
    max-width: 430px;

    height: 510px;
    max-height: 510px;

    /*margin : 110px 110px 100px 100px;
    */
    margin-left: 110px;
    margin-top: 100px;
}

.food__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: rgb(204, 153, 0);
    font-weight: normal;
    text-align: center;

}

.food__title:after {
    content: url("../img/Divider.png");
}

.food_text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;
    padding-top: 10px;
}

.cook__img {
    content: url("../img/cook.png");
    padding: 40px 140px;
}

/* INGREDIENTS BLOCK
---------------------------------------------------------
*/

.ingredients__block {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 758px;

    background: url("../img/ingredients_bg.jpg") center no-repeat;
    background-size: cover;
}

.ingredients__inner {
    width: 100%;
    max-width: 570px;

    height: 557px;
    max-height: 557px;

    position: relative;

    /*margin : 110px 110px 100px 100px;
    */
    margin: 100px 0px 40px auto;
    padding: 10px 70px;

    background: url("../img/ingredients_content_bg.png") center no-repeat;
    background-size: cover;
}

.ingredients__title {
    width: 100%;
    max-width: 400px;
    padding-top: 70px;
    margin: 0 auto;

    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: white;
    font-weight: normal;
    text-align: center;
}

.ingredients__title:after {
    content: url("../img/Divider_white.png");
}

.ingredients__text {
    padding: 10px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    text-align: center;
}

.ingredients__image {
    padding-top: 60px;
    margin: 0 auto;

}

/* MENU BLOCK
---------------------------------------------------------
*/


.menu {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    width: 100%;
    height: 994px;

    background: url("../img/menu_bg.jpg") center no-repeat;
    background-size: cover;
}

.container--menu {
    display: flex;
    flex-flow: column wrap;

    height: 994px;
    justify-content: flex-start;
}

.menu__inner {
    display: flex;
    flex-flow: row wrap;

    height: 994px;

}

.menu__column {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.menu__block {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: auto;

    width: 570px;
    padding: 100px 0 0 40px;
    text-align: center;
}

.menu__block[id="appetizers"] {
    margin-left: 40px;
}

.menu__block[id="salads"] {
    margin-left: 40px;
    padding-top: 55px;
}

.menu__block[id="starters"] {
    margin-left: 30px;
}

.menu__block[id="main"] {
    margin-left: 30px;
    padding-top: 55px;
}

.menu_title {
    display: flex;
    flex-direction: column;
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: rgb(204, 153, 0);
    font-weight: normal;
    text-align: center;

}

.menu_title:after {
    content: url("../img/Divider.png");
}

.menu__item {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.menu__item--special {
    border: 1px solid rgb(200, 159, 45);
}


.menu__box {
    margin: 0 22px;
    position: relative;
}

.menu__box--special {
    margin: 0 22px;
    position: relative;
}

.menu__box--special::before {
    display: flex;
    flex-direction: row-reverse;
    content: url("../img/special.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 22px;
}

.menu__item__title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    color: rgb(204, 153, 0);
    font-weight: normal;
    border-bottom: 1px solid #cc9900;
}

/* REVIEWS
---------------------------------------------------------
*/

.reviews__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 758px;

    background: url("../img/reviews_bg.jpg") center no-repeat;
    background-size: cover;
}

.reviews__inner {
    width: 100%;
    max-width: 770px;

    height: 557px;
    max-height: 557px;

    /*margin : 110px 110px 100px 100px;
    margin-top: 100px;
    */
    margin: 100px auto;


    padding: 10px 70px;

    background: url("../img/reviews_content_bg.png") center no-repeat;
    background-size: cover;
}

.reviews_content {
    font-family: 'Gentium Book Basic', serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
    color: rgb(221, 224, 223);
}

.reviews_author {
    padding-top: 40px;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: rgb(221, 224, 223);
}

/* BOOK
---------------------------------------------------------
*/

.book_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 710px;

    background: url("../img/book_bg.png") center;
    background-size: cover;
}

.book_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 100px 0;
}

.image__box{
    display: flex;
    flex-direction: row;
}

.book_img:nth-child(1) {
    margin-left: 40px;
}

.book_img:nth-child(2) {
    margin-left: 30px;

}

.book__form__box{
    display: flex;
    justify-content: center;
}

.book__form__box__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 450px;

    margin-left: 100px;
}

.food__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

   /* width: 100%;*/
}

.form__item {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 200px;

    margin-top: 45px;
}


.form__label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #cc9900;
}

.form__input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: rgb(124, 124, 124);

    align-items: start;
    padding-left: 15px;
    max-height: 30px;
}

.form__item:nth-child(1),
.form__item:nth-child(3) {
    margin-right: 30px;
}

.form__item:nth-child(3),
.form__item:nth-child(4) {
    margin-top: 25px;
}

.date__modifier {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: rgb(124, 124, 124);

    align-items: start;
    padding-left: 15px;
    max-height: 30px;
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid #cc9900;
}

input[type="date"]:not(.has-value):before {
    content: attr(placeholder);
}

input[type="date"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: rgb(124, 124, 124);
    padding-left: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../img/calendar.jpg) center no-repeat;

    border-width: thin;
}

.form__button {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: top;

    font-size: 16px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    padding: 5px 62px;
    margin-top: 30px;

    background-color: rgba(200, 159, 45, 0.77);
    border: 1px solid rgb(200, 159, 45);
    transition: step-start;
}

.form__button:hover {
    background-color: rgba(200, 159, 45, 0.98);
}

.form__button:disabled {
    background-color: rgba(200, 159, 45, 0.45);
}

/* FOOTER
---------------------------------------------------------
*/

.footer {
    width: 100%;
    height: 320px;

    background: url("../img/footer_bg.jpg") center;
    background-size: cover;
}

.footer__inner {
    display: flex;
    justify-content: space-evenly;

    padding-top: 52px;
}

.footer__block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    width:100%;
    max-width: 371px;

    height: 100%;
    max-height: 218px;

    padding: 10px;
}

.block__title {
    display: flex;
    flex-direction: column;

    font-size: 21px;
    text-align: center;
    color: rgb(254, 254, 254);
}

.block__title:after {
    content: url("../img/divider_footer.png");
}

.block__content {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a0a0a0;
    line-height: 1.5;

    text-align: center;
}

.block__icons {
    width: 100%;
    max-width: 105px;
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
}

@media screen and (max-width: 1250px){
    .menu{
        height: 2000px;
    }

    .menu__inner{
        flex-flow: column;
        align-items: center;
    }

    .menu__block[id="appetizers"] {
        margin-left: 0;
    }

    .menu__block[id="salads"] {
        margin-left: 0;
        padding-top: 55px;
    }

    .menu__block[id="starters"] {
        margin-left: 0;
    }

    .menu__block[id="main"] {
        margin-left: 0;
        padding-top: 55px;
    }
}

@media screen and (max-width: 1130px){
    .book_block{
        height: 1200px;
    }

    .book_inner{
        justify-content: center;
        flex-direction: column;
    }

    .book_img:nth-child(1){
        margin-left: 0;
    }

    .book__form__box__content{
        margin-left: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .image__box{
        justify-content: center;
    }

    .footer{
        height: auto;
    }
    .footer__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

    }
}

@media screen and (max-width: 1070px) {
    .nav{
        display: none;
    }

    .header{
        justify-content: center;
        padding-left: 30px;

    }
}

@media screen and (max-width: 900px) {
    .top__title{
        padding: 0 50px;
    }

    .food__container{
        display: flex;
        justify-content: center;
    }
    .food__block{
        background: url("../img/food_media_bg.png") center no-repeat;
        background-size: cover;
    }

    .food__inner{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .cook__img{
        width: 221px;
        padding: 40px 0;
    }
}

@media screen and (max-width: 960px) {
    .intro{
        height: 1000px;
    }
}

@media screen and (max-width: 700px) {

    .reviews_content{
        font-size: 20px;
    }
    .top__links{
        margin: 100px 50px 0;
    }

    .top__title{
        padding: 0 20px;
        font-size: 50px;
    }
    .top__links{
        flex-direction: column;
    }

    .btn--black{
        margin: 0;
    }

    .btn--transparent{
        margin: 50px 0;
    }
}

@media screen and (max-width: 570px){
    .image__box{
        display: none;
    }

    .book_block{
        height: 1000px;
    }

    .food__form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form__item{
        margin: 45px 0 0 0;
    }

    .form__item:nth-child(1),
    .form__item:nth-child(2),
    .form__item:nth-child(3),
    .form__item:nth-child(4){
        margin: 45px 0 0 0;
    }
}

@media screen and (max-width: 530px) {
    .reviews_content{
        font-size: 17px;
    }

    .menu{
        height: 1900px;
    }

    .menu__block{
        width: 100%;
        max-width: 570px;
        padding: 55px 0 0 0 ;
    }
}

@media screen and (max-width: 440px) {
    .ingredients__inner{
        padding: 20px 20px 30px 30px;
    }

    .btn{
        width: 225px;
    }

    .top__title{
        padding: 0 20px;
        font-size: 50px;
    }
    .menu{
        height: 2100px;
    }

    .ingredients__title{
        padding-top: 0;
    }

    .ingredients__image{
        padding-top: 0;
    }
    .reviews__inner{
        padding: 30px;
    }
    .reviews_content{
        font-size: 20px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 375px) {
    .block__content{
        font-size: 13px;
    }
}




